/*Font OpenSans*/
  @font-face {
    font-family: 'OpenSans';
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
  }
  @font-face {
    font-family: 'OpenSans';
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
    font-weight: bold;
  }
  @font-face {
    font-family: 'OpenSans', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);
    font-weight: 600;
  }
  /*Font Raleway*/
    @font-face{
    font-family:'Raleway';
    src: url(C:\Users\Eduardo\Desktop\Challenges_\Raleway\static);
  }
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

  @font-face{
    font-family:'Raleway' ;
    src: url(C:\Users\Eduardo\Desktop\Challenges_\Raleway\static);
    font-weight: bold;  


  }
  @font-face{
    font-family:'Raleway' ;
    src: url(C:\Users\Eduardo\Desktop\Challenges_\Raleway\static);
    font-weight: 700-900;  


  }
  /*General settings*/

  body{
    
      width: 100%;
      font-family: 'Raleway', sans-serif;
      margin: auto;
      padding: auto;
  }
  header{
      box-sizing: border-box;
      width: 100%;
      
      margin: 0;
      padding: 50px  50px;
      font-family: 'Open Sans', sans-serif;
      word-spacing: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

  }
  footer{
    width: 100%;
    box-sizing: border-box;
    background-color: hsl(243, 87%, 12%);
    margin: 0;
    padding: 100px  50px;
  }
  footer p{
    font-size: 15px;
    font-weight: 400;
    color: #f9f8fe;
  }
  footer a{
    
    font-size: 15px;
    font-weight: 400;
    color: #f9f8fe;
  }
  

  h2{
      font-family: 'Raleway';
      margin: 0;
      padding: 28px 0 0; 
      font-weight: 900;
      font-size: 30px; 
      color: hsl(243, 87%, 12%);      
  }
  p{
    font-weight: 400;
    font-size: 20px;
    color: hsl(243, 87%, 12%) ;
    
  }
  a{
      text-decoration: none;
      
  }

  /* classes */

  .container{
    width: 100%;
    margin: 0;
    padding:  0;

  }
  .all-secure{
      padding: 50px;
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
  }
  
    .stay-pro{
      
      
        padding: 50px;
        margin: 0;
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center; 
        background-color:  #f9f8fe;
  }
  .stay-pro a{
    color:hsl(170, 45%, 43%);
    font-size: 15px;
    text-decoration: underline;
  }

  .border-line{
    background-color:  #f9f8fe;
  }
  .img-wave{
    height: 100px;
    width: 100%;
    border:none;
    }
  #box-msg{
    margin-top: 40px;

  }

  .get-early{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; 
    flex-wrap: nowrap;
    padding: 50px;
    height:322px;
    background-color:  hsl(238, 22%, 44%);
  }
  .get-early h2,.get-early p {
    color: white;
  }

  .footer-content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 0;
  }
  .content_4{
    width: 400px;
  }
  .form2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 70px;
  }
  /*Form settings*/
  .plc-hld , .plc-hld2{
      box-sizing: border-box;
      font-size: 15px;
      height: 46px;
      width: 316px;
      border-radius: 3px;
      border: 1px solid black;
  }
  .plc-hld2{
    margin-left: 0px;
    padding-left: 0px;
    border: none;
    height:50px;
    width: 479px;
    
  }
  .form1{
      display: flex;
      align-items: center;
      margin-right: 10px;
      
  }
  .btn , .btn2{
      margin-left: 15px;
      box-sizing: border-box;
      text-align: center;
      font-size: 15px;
      height: 46px;
      width:204px ; 
      color: white;
      background-color: hsl(224, 93%, 58%);  
      border: none;
      border-radius: 3px;
      cursor: pointer;
  }
  .btn2{
    margin-left: 0px;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    
  }
  @media (max-width: 500px){
   
    /*Responsive header*/

    header{
      padding: 20px 15px;
      word-spacing: 20px;
    }
    header>img{
      width: 100px;
      margin: 0 auto;
    }
    header>div{
      margin-left: 30px;
    }
    /*Responsive elements*/
    p{
      font-family:'Open Sans';
      font-weight: lighter;/* observar porque n esta fino*/
      text-align: center;
      width: 375px;
    }
    h2{
      font-family:'Open Sans';
      font-weight: bold;
      font-size: 25px;
      word-spacing: 5px;
      text-align: center;
           
      width: 375px;
    }
    /*Responsive step 1*/
     .all-secure{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
        
     
    }
    .all-sec-lft{
      display:flex;
      flex-flow: column wrap;
      align-items: flex-start;
      order: 2;
    }
    .stay-pro-lft{
      display:flex;
      flex-flow: column wrap;
      align-items: flex-start;
      order: 2;
    }
    .stay-pro{
       display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;

    }
    .stay-pro>img{
      border: 1px solid black;
      order: 1;
      margin: 0;
      box-sizing: border-box;
      width: 375px;
    }
    .stay-pro-lft>h2{
      font-weight: bold;
      word-spacing: 3px;
      font-size:20px ;
    }
    .stay-pro-lft>p{
      font-size: 16px;
      text-align: left;
      color: hsl(238, 22%, 44%) ;
      border: 1px solid red;
    }
    .stay-pro-lft>a{
      border: 1px solid red;
      
    }
    .all-secure>img{
      order: 1;
      margin: 0;
      box-sizing: border-box;
      width: 375px;
    }
    .form1{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .plc-hld {
      width: 100%;
      margin-bottom: 15px;

    }
    .btn{
      width: 100%;
      margin: 0;
    }
      
  }


  
